<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<meta id="i18n_pagename" content="index-common">
	    <meta name="keywords" content=""/>
	    <meta name="description" content=""/>
	    <meta http-equiv="Access-Control-Allow-Origin" content="*">
	    <link type="image/x-icon" href="img/favicon.png" rel="shortcut icon"/>
		<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/libs/font-awesome.css"/>	
		<link href="css/bootstrap-switch.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="css/base.css"/>
		<link rel="stylesheet" href="css/main.css" />
		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/bootstrap-switch.min.js"></script>
		<style type="text/css">
			#eye_open_close{
				left: -45px;
			    position: relative;
			    top: 3px;
			}
			}
		</style>
	</head>
	<body onload="Load_Setting1();">
		<div class="guest_net">
			<form  action="/boafrm/formGuestWlanSetup" method="POST" name="formGuest">
				<div class="form-group_smart" style="margin-bottom: 10px;">
					<!--<input type="hidden" name="guest_active_time" class="guest_active_time" value=""/>-->
					<label class="i18n" name="guestmode_guest"></label>
					<div class="switch_check">
						<input type="checkbox" class="checkbox_switch" data-size="mini" name="guest_wlan_enabled" value=""/>
					</div>
				</div>
				<div class="form-group_smart hide_msg"><label class="i18n" name="wifiname_guest"></label>&nbsp;&nbsp;<input class="form_input" type="text" value="<% getIndex("guest_ssid");%>" name="guest_ssid"/></div>
				<div class="form-group_smart hide_msg"><label class="i18n" name="wifipassword_guest"></label>&nbsp;&nbsp;<input class="form_input" type="password" value="<%  getIndex("guest_password");%>"  name="guest_password" id="guest_password"/><i id="eye_open_close" class="icon-eye-close glyphicon glyphicon-eye-close"></i></div>
				<div class="form-group-self hide_msg">
					<label class="guest_renzheng i18n" name="renzheng_guest"></label>
					<div style="display: inline-block;"><input type="radio" name="guest_active_time" value="4" class="radio4"><span class="i18n-input" selectname="guest_net_4"></span></div>
					<div style="display: inline-block;"><input type="radio" name="guest_active_time" value="8" class="radio8"><span class="i18n-input" selectname="guest_net_8"></span></div>
					<div style="display: inline-block;"><input type="radio" name="guest_active_time" value="0" class="radio0"><span class="i18n-input" selectname="guest_net_long"></span></div>
					
					<input type="hidden" value="/guest_net.html" name="submit-url">
				</div>
				<div class="form-group form-group-btn">
					<% getInfo("apply_direct_comment_start");%>
					<button type="submit" value="Save & Apply" class="i18n internet_submit" name="save_apply" onClick="return saveChanges_guest()"></button>
					<% getInfo("apply_direct_comment_end");%>
				</div>
			</form>
		</div>
		
			<script src="js/jquery.cookie.js"></script>
	    <!-- 加载语言包文件 -->
	    <script src="js/jquery.i18n.properties.js"></script>
	    <script src="js/language.js"></script>
		<script>
			var guest_wlan_enabled_status='<%getIndex("guest_wlan_enabled");%>';
			var i18nLanguage=getCookie('userLanguage');
//			var guest_wlan_enabled_status='1';
			$(document).ready(function(){
				//开关按钮
				$('[name="guest_wlan_enabled"]').bootstrapSwitch({
					onText: "",
					offText: "",
					onColor: "info",
					offColor: "success",
					size: "small",
					onSwitchChange: function(event, state) {
						if (state == true) {
							$(".hide_msg").css("display","block");
						} else {
							$(".hide_msg").css("display","none");
						}
					}
	
				});
				$("#eye_open_close").click(function(){
					if($(this).hasClass("glyphicon-eye-open")){
						$(this).removeClass("glyphicon-eye-open");
						$(this).removeClass("icon-eye-open");
						$(this).addClass("icon-eye-close");
						$(this).addClass("glyphicon-eye-close");
						$("#guest_password").attr("type","password");
					}else{
						$(this).removeClass("glyphicon-eye-close");
						$(this).removeClass("icon-eye-close");
						$(this).addClass("icon-eye-open");
						$(this).addClass("glyphicon-eye-open");
						$("#guest_password").attr("type","text");
					}					
				})
			})
			//页面初始化
			function Load_Setting1()
			{
				if ( guest_wlan_enabled_status=='1' ){
					$('[name="guest_wlan_enabled"]').bootstrapSwitch('state',true);
					$(".hide_msg").css("display","block");
				} else {
					$('[name="guest_wlan_enabled"]').bootstrapSwitch('state',false);					
	 				$(".hide_msg").css("display","none");
				}
				var radio_check_value='<%getIndex("guest_active_time");%>';
				if(radio_check_value==4){
					$(".radio4").prop("checked",true);
				}
				if(radio_check_value==8){
					$(".radio8").prop("checked",true);
				}
				if(radio_check_value==0){
					$(".radio0").prop("checked",true);
				}
								
			}
			function saveChanges_guest(){
				 var status_value_submit= $('[name="guest_wlan_enabled"]').bootstrapSwitch('state');
				 var guest_password_value=$("#guest_password").val();
				 if(guest_password_value.length<6){
				 	if(i18nLanguage=='en'){
	        			alert("The password is less than 6 bits!");   
						return false;
	        		}else{
	        			alert("密码小于6位!");
						return false;
	        		}
				 }
				if(status_value_submit){
					document.formGuest.guest_wlan_enabled.value=1;
				}else{
					document.formGuest.guest_wlan_enabled.value=0;
				}
				if(document.formGuest.guest_ssid.length==0){
					document.formGuest.guest_ssid.focus();
					return false;
				}else{
					return true;
				}
				if(document.formGuest.guest_password.length==0){
					document.formGuest.guest_password.focus();
					return false;
				}else{
					return true;
				}
				if(document.formGuest.guest_active_time.length==0){
					document.formGuest.guest_active_time.focus();
					return false;
				}else{
					return true;
				}
				return true;
			}
			function getCookie(name) {
			  var cookies = document.cookie;
			  var list = cookies.split("; ");          // 解析出名/值对列表
			      
			  for(var i = 0; i < list.length; i++) {
			    var arr = list[i].split("=");          // 解析出名和值
			    if(arr[0] == name)
			      return decodeURIComponent(arr[1]);   // 对cookie值解码
			  } 
			  return "";
			}
		</script>
	</body>
</html>
