<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<meta id="i18n_pagename" content="index-common">
	    <meta name="keywords" content=""/>
	    <meta name="description" content=""/>
	    <meta http-equiv="Access-Control-Allow-Origin" content="*">
		<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/libs/font-awesome.css"/>		 
		<link rel="stylesheet" type="text/css" href="css/compiled/theme_styles.css"/>
		<link rel="stylesheet" type="text/css" href="css/base.css"/>
		<link rel="stylesheet" href="css/main.css" />
		<link rel="stylesheet" href="css/progress.css" />
		<link type="image/x-icon" href="img/favicon.png" rel="shortcut icon"/>
		<script type="text/javascript" src="util_gw.js"> </script>
		<style type="text/css">
			#eye_open_close{
				position: relative;
				left: -3%;
			}
			.progress{
				display: none;
			}
			.form-group label{
				width: 120px;
			}
		</style>
		<script type="text/javascript">	
			
			var initialDnsMode, pppConnectStatus=0;
			var MultiPppoeEnable= <% getIndex("multiPppoe"); %>;
			var wan_connection_type=0;
			var dynamicWanIP=1;
			
			var wan_access_port_en = <%getIndex("wanAccessPortEnable");%>;
			function Load_Setting()
			{
				var wanDhcp_ = '<% getIndex("wanDhcp"); %>';
				if(wanDhcp_==0){
					$(".static_ip").css("display","block");
					$(".pppoe").css("display","none");
					$(".DHCP").css("display","none");
					$("#wanType_id option:nth-child(1)").prop("selected", 'selected');
					document.tcpip.elements["dnsMode"][1].checked = true;
				}
				if(wanDhcp_==3){
					$(".static_ip").css("display","none");
					$(".pppoe").css("display","block");
					$(".DHCP").css("display","none");
					$("#wanType_id option:nth-child(3)").prop("selected", 'selected');
					document.tcpip.elements["dnsMode"][0].checked = true;
				}
				if(wanDhcp_==1){
					$(".static_ip").css("display","none");
					$(".pppoe").css("display","none");
					$(".DHCP").css("display","block");
					$("#wanType_id option:nth-child(2)").prop("selected", 'selected');
					document.tcpip.elements["dnsMode"][0].checked = true;
				}
			}
		</script>
	</head>
	<body onload="Load_Setting();" style="background: #F5F5F5;">
		 		<div class="main_content">
		 			<div class="intnet">
		 				<div class="intnet_content">
			 				<form role="form" action="/boafrm/formWanTcpipSetup" method="POST" name="tcpip" id="internet_form">
			 					<input type="hidden" id="getPppAuthStatus" value="Not Start" name="getPppAuthStatus">
			 						<input type="hidden" name="lan_ip_address" value="<% getInfo("ip-rom"); %>">
									<input type="hidden" name="lan_subnet_mask" value="<% getInfo("mask-rom"); %>">
									
									<input type="hidden" name="dhcpMtuSize" value="1500">
									<input type="hidden" name="pptpMtuSize" value="1500">
									<input type="hidden" name="12tpMtuSize" value="1500">
								<div style="display: none;">
									<input type="radio" value="dnsAuto" name="dnsMode">
									<input type="radio" value="dnsManual" name="dnsMode">
								</div>
			 					<div class="form-group">
			 						<label class="i18n" name="wanjoinTyep_internet"></label>&nbsp;&nbsp;
			 						<select class="type_select" id="wanType_id" size="1" name="wanType">
			 							<option value="fixedIp" class="i18n" name="staticIp_internet"></option>
			 							<option value="autoIp" class="i18n" name="staticIp_dhcp"></option>
			 							<option value="ppp" class="i18n" name="staticIp_pppoe"></option>
			 						</select>	
			 						
			 					</div>
			 					<div class="form-group static_ip"><label class="i18n" name="ipAddr_internet"></label>&nbsp;&nbsp;<input class="form_input" type="text" name="wan_ip" value="<% getInfo("wan-ip-rom"); %>"/></div>
			 					<div class="form-group static_ip"><label class="i18n" name="subnet_internet"></label>&nbsp;&nbsp;<input class="form_input" type="text" name="wan_mask" value="<% getInfo("wan-mask-rom"); %>" /></div>
			 					<div class="form-group static_ip"><label class="i18n" name="default_internet"></label>&nbsp;&nbsp;<input class="form_input" type="text" name="wan_gateway" value="<% getInfo("wan-gateway-rom"); %>"/></div>
			 					 <span id = "dnsMode_div" style="display: none;" >
								    <table border="0" width=480>
								    <tr>
								      <td width="100%" colspan="2"><font size=2>
										<b><input type="radio" value="dnsAuto" name="dnsMode" onClick="autoDNSclicked()"></b>
								      </td>
								    </tr>
								    <tr>
								      <td width="100%" colspan="2"><font size=2>
								        <b><input type="radio" value="dnsManual" name="dnsMode" onClick="manualDNSclicked()"></b>
								      </td>
								    </tr>
								    <tr>
								    </table>
								    </span>
								<div class="form-group static_ip"><label class="i18n" name="size_fixedIpMtuSize"></label>&nbsp;&nbsp;<input type="text" name="fixedIpMtuSize" value="<% getInfo("fixedIpMtuSize"); %>"></div>
			 					<div class="form-group static_ip"><label class="i18n" name="DNS1_internet"></label>&nbsp;&nbsp;<input class="form_input" type="text" name="dns1" value="<% getInfo("wan-dns1"); %>" /></div>
			 					<div class="form-group static_ip"><label class="i18n" name="DNS2_internet"></label>&nbsp;&nbsp;<input class="form_input" type="text" name="dns2" value="<% getInfo("wan-dns2"); %>" /></div>
			 					<input class="form_input" type="hidden" name="dns3" value="<% getInfo("wan-dns3"); %>" />
			 					<div class="form-group pppoe"><label class="i18n" name="name_internet"></label>&nbsp;&nbsp;<input class="form_input" type="text" name="pppUserName" value="<% getInfo("pppUserName"); %>" /></div>
			 					<div class="form-group pppoe"><label class="i18n" name="password_internet" style="position: relative;right: -10px;"></label>&nbsp;&nbsp;<input id="pppPassword" class="form_input" style="margin-left: 15px;" type="password" name="pppPassword" value="<% getInfo("pppPassword"); %>" /><i id="eye_open_close" class="icon-eye-close glyphicon glyphicon-eye-close"></i></div>
			 					<div class="form-group pppoe"><label class="i18n" name="size_pppMtuSize"></label>&nbsp;&nbsp;<input type="text" name="pppMtuSize" size="10" maxlength="10" value="<% getInfo("pppMtuSize"); %>"></div>
			 					<!--<div class="form-group pppoe pppoe_button">
			 						<button type="submit" value="Connect" name="pppConnect" onClick="return pppConnectClick(0)">连接</button>
			 						<script>document.tcpip.pppConnect.value = tcpip_wan_conn;</script>
			 						<button type="submit" value="Disconnect" name="pppDisconnect" onClick="return pppConnectClick(1)">断开连接</button>
			 						<script>document.tcpip.pppDisconnect.value = tcpip_wan_disconn;</script>
			 						<script type="text/javascript">
										if ( <% getIndex("pppConnectStatus"); %> )
											setPPPConnected();
									</script>
			 					</div>-->
			 					 
			 					<div class="form-group form-group-btn">
			 						<% getInfo("apply_direct_comment_start");%>
			 						<button type="submit" value="Save & Apply" class="i18n internet_submit" name="save_apply" onClick="return saveChanges_wan2(document.tcpip_form,MultiPppoeEnable,dynamicWanIP)"></button>
			 						<% getInfo("apply_direct_comment_end");%>
			 					</div>
			 					<input type="hidden" value="/internet.html" name="submit-url">
			 				</form>
			 			</div>
		 			</div>
		 			<div class="progress">
						<div class="wrapper">			
							<div class="load-bar">   
								<div class="load-bar-inner" data-loading="0"> <!--<span id="counter">98%</span>--> </div> 
							</div>   
							<p class="i18n" name="reset_name_internet"></p>
						</div>
					</div>
		 		</div>
		
		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.js"></script>
	    <script src="js/jquery.cookie.js"></script>
	    <!-- 加载语言包文件 -->
	    <script src="js/jquery.i18n.properties.js"></script>
	    <script src="js/language.js"></script>
		<script type="text/javascript">
			var initialDnsMode, pppConnectStatus=0;
			var MultiPppoeEnable= <% getIndex("multiPppoe"); %>;
			var wan_connection_type=0;
			var dynamicWanIP=1;
			
			var wan_access_port_en = <%getIndex("wanAccessPortEnable");%>;
			$(document).ready(function(){
				$(".type_down").click(function(){
					 $("select").trigger("click");
				})
				$(".type_select").change(function(){
					var changevalue=$(this).val();
					if(changevalue=="fixedIp"){
						$(".static_ip").css("display","block");
						$(".pppoe").css("display","none");
						$(".DHCP").css("display","none");
						document.tcpip.dnsMode[1].checked = true ;
					}
					if(changevalue=="autoIp"){
						$(".static_ip").css("display","none");
						$(".pppoe").css("display","none");
						$(".DHCP").css("display","block");
						document.tcpip.dnsMode[0].checked = true ;
					}
					if(changevalue=="ppp"){
						$(".static_ip").css("display","none");
						$(".pppoe").css("display","block");
						$(".DHCP").css("display","none");
						document.tcpip.dnsMode[0].checked = true ;
					}
				});
				$("#eye_open_close").click(function(){
					if($(this).hasClass("glyphicon-eye-open")){
						$(this).removeClass("glyphicon-eye-open");
						$(this).removeClass("icon-eye-open");
						$(this).addClass("icon-eye-close");
						$(this).addClass("glyphicon-eye-close");
						$("#pppPassword").attr("type","password");
					}else{
						$(this).removeClass("glyphicon-eye-close");
						$(this).removeClass("icon-eye-close");
						$(this).addClass("icon-eye-open");
						$(this).addClass("glyphicon-eye-open");
						$("#pppPassword").attr("type","text");
					}					
				})
				//进度条-start
//				var interval;
//				  var current = 0;
//				
//				  function increment(){
//				    current++;
//				    $('#counter').html(current+'%'); 
//				    if(current == 100) { current = 0; }
//				  }
//				var my_progress;
//				$(".internet_submit").click(function(){
//					$(".progress").css("display","block");			
//					 interval= setInterval(increment,100);
//				})
//				//进度条——end
//				if(success_progress_value=='1'){					
//					$(".progress").css("display","none");
//					clearInterval(interval);
//					location.reload();
//				}
//				parent.iframe_href="internet.html";
				
			})	

			function update_web_access_port_state()
			{
				if (wan_access_port_en){
					if (document.tcpip.webWanAccess.checked){
						enableTextField(document.tcpip.webAccessPort);
					}
					else{
						disableTextField(document.tcpip.webAccessPort);		
					}
				}
			}
			function check_web_access_port_valid()
			{
				if (wan_access_port_en){
					if (document.tcpip.webWanAccess.checked){
					   if (document.tcpip.webAccessPort.value=="") {
							alert(tcpip_wan_port_empty);
							document.tcpip.webAccessPort.focus();
							return false;
						  }
			
						  if ((validateKey( document.tcpip.webAccessPort.value ) == 0) ) {
							alert(tcpip_wan_port_invalid);
							document.tcpip.webAccessPort.focus();
							return false;
						  }
						  d1 = getDigit(document.tcpip.webAccessPort.value, 1);
						  if (d1 > 65535 || d1 < 1) {
							alert(tcpip_wan_port_invalid_num);
							document.tcpip.webAccessPort.focus();
							return false;
						  }	
					}
				}
				return true;
			}
			function checkSubnet(ip, mask, client)
			{
			  ip_d = getDigit(ip, 1);
			  mask_d = getDigit(mask, 1);
			  client_d = getDigit(client, 1);
			  if ( (ip_d & mask_d) != (client_d & mask_d ) )
				return false;
			
			  ip_d = getDigit(ip, 2);
			  mask_d = getDigit(mask, 2);
			  client_d = getDigit(client, 2);
			  if ( (ip_d & mask_d) != (client_d & mask_d ) )
				return false;
			
			  ip_d = getDigit(ip, 3);
			  mask_d = getDigit(mask, 3);
			  client_d = getDigit(client, 3);
			  if ( (ip_d & mask_d) != (client_d & mask_d ) )
				return false;
			
			  ip_d = getDigit(ip, 4);
			  mask_d = getDigit(mask, 4);
			  client_d = getDigit(client, 4);
			  if ( (ip_d & mask_d) != (client_d & mask_d ) )
				return false;
			
			  return true;
			}
		</script>
	</body>
</html>
