<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<meta id="i18n_pagename" content="index-common">
	    <meta http-equiv="Access-Control-Allow-Origin" content="*">
		<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/libs/font-awesome.css"/>	
		<link href="css/bootstrap-switch.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="css/base.css"/>
		<link rel="stylesheet" href="css/main.css" />
		<link type="image/x-icon" href="img/favicon.png" rel="shortcut icon"/>
		<script src="js/util_gw.js"></script>
	</head>
	<body onload="Load_Setting();">
		<div class="guest_net_parent">
			<div>
				<form action="/boafrm/formFilter" method="POST" name="formFilterAdd">
					<div class="form-group" style="margin-bottom: 10px;">
						<div class="intell guest_mode i18n" name="macFliter_title_macfilter">&nbsp;</div>
						<div class="switch_check">
							<input type="checkbox" class="checkbox_switch" data-size="mini" name="enabled"  id="checkbox_switch1" value="ON"/>
						</div>
					</div>
					<div class="form-group_smart"><p class="p_tips i18n" name="p_tips_macfilter"></p></div>
					<div class="form-group_smart firewall"><label class="i18n" name="macaddress_macfilter"></label><input class="form_input" id="input_mac" type="text" name="mac"  /></div>
					<div class="form-group_smart firewall macTips" style="text-indent: 15%;color: #DD514C;"><span class="i18n" name="mac_tips"></span></div>
					<div class="form-group_smart firewall"><label class="i18n" name="mactips_macfilter">&nbsp;</label><input class="form_input" type="text" name="comment"  /></div>
					<div class="form-group form-group-btn firewall">
						<button class="i18n" type="submit" value="Save" name="addFilterMac" onClick="return addClick()"></button><button class="i18n" type="submit" value="Save & Apply" name="save_apply" onClick="return addClick()" ></button><button  class="i18n" type="reset" value="Reset" name="reset"></button>
					</div>
					<input type="hidden" value="1" name="addFilterMacFlag">		
        			<input type="hidden" value="/macfilter.html" name="submit-url">
				</form>
				<form action="/boafrm/formFilter" method="POST" name="formFilterDel">
					<div>
						<p class="current_table i18n" name="currect_table_macfilter"></p>
						<div class="table-responsive"> 　　　　　　　　 			    		
							<table class="table table-bordered">
								<% macFilterList(); %>							  	
							</table>						 
				    	</div>
				    	<div class="form-group form-group-btn firewall">
							<button type="submit" value="Delete Selected" name="deleteSelFilterMac" onClick="return deleteClick()" class="i18n"></button><button  type="submit" value="Delete All" name="deleteAllFilterMac" onClick="return deleteAllClick()" class="i18n"></button><button type="reset" value="Reset" name="reset" class="i18n"></button>
						</div>
				    </div>
				    <input type="hidden" value="/macfilter.html" name="submit-url">
			    </form>
			</div>
		</div>
		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/bootstrap-switch.min.js"></script>
		<script src="js/jquery.cookie.js"></script>
	    <!-- 加载语言包文件 -->
	    <script src="js/jquery.i18n.properties.js"></script>
	    <script src="js/language.js"></script>
	    <script type="text/javascript">
	    	var i18nLanguage=getCookie('userLanguage');
	    	$(document).ready(function(){
	    		$('#checkbox_switch1').bootstrapSwitch({
					onText: "",
					offText: "",
					onColor: "success",
					offColor: "info",
					size: "small",
					onSwitchChange: function(event, state) {
						if (state == true) {
							enableTextField(document.formFilterAdd.mac);
							enableTextField(document.formFilterAdd.comment);
							$("#checkbox_switch1").val("ON");
							$(".macTips").css("display","block");
						} else {
							disableTextField(document.formFilterAdd.mac);
							disableTextField(document.formFilterAdd.comment);
							$("#checkbox_switch1").val("OFF");
							$(".macTips").css("display","none");
						}
					}
				});
	    	})
	    	function addClick()
			{
			  var input_value= $("#input_mac").val();
			  if(input_value.indexOf("-")!=-1||input_value.indexOf(":")!=-1||input_value.indexOf(".")!=-1||input_value.indexOf("：")!=-1){
				  if(i18nLanguage=='en'){
				  	alert("Please enter a valid Mac address");
				  }else{
				  	alert("请输入有效的Mac地址");
				  }
				  return false;
			  }
			  if (!document.formFilterAdd.enabled.checked)
			  	return true;
			
			  if (document.formFilterAdd.mac.value=="" && document.formFilterAdd.comment.value=="" )
				return true;
			
			  var str = document.formFilterAdd.mac.value;
			  if ( str.length < 12) {
			  	if(i18nLanguage=='en'){
			  		alert("Please enter a valid Mac address");
			  	}else{
			  		alert("请输入有效的Mac地址");
			  	}
				
				document.formFilterAdd.mac.focus();
				return false;
			  }
			
			  // add for "All MAC Address field can't reject 00:00:00:00:00:00/ff:ff:ff:ff:ff:ff MAC Address" issue
			  with(document.formFilterAdd)
			  {
			  	if(i18nLanguage=='en'){
			  		if(!checkMacAddr(mac,"Mac address invalid"))
					return false;
			  	}else{
			  		if(!checkMacAddr(mac,"Mac地址无效"))
					return false;
			  	}
				
			  }
			  return true;
			}
			
			
			function deleteClick()
			{
			  if(i18nLanguage=='en'){
					if ( !confirm("Make sure to delete the selected entry?") ) {
						return false;
					  }
					  else
						return true;
				}else{
					if ( !confirm("确定删除所选的入口?") ) {
						return false;
					  }
					  else
						return true;
				}
			}
			
			function deleteAllClick()
			{
			   if(i18nLanguage=='en'){
					if ( !confirm("Make sure to delete the selected entry?") ) {
						return false;
					  }
					  else
						return true;
				}else{
					if ( !confirm("确定删除所选的入口?") ) {
						return false;
					  }
					  else
						return true;
				}
			}
			
			function disableDelButton()
			{
				disableButton(document.formFilterDel.deleteSelFilterMac);
				disableButton(document.formFilterDel.deleteAllFilterMac);
			}
			
			function updateState()
			{
			  if (document.formFilterAdd.enabled.checked) {
			 	enableTextField(document.formFilterAdd.mac);
				enableTextField(document.formFilterAdd.comment);
			  }
			  else {
			 	disableTextField(document.formFilterAdd.mac);
				disableTextField(document.formFilterAdd.comment);
			  }
			}
			var mac_filter_status='<% getIndex("macFilterEnabled"); %>';
			function Load_Setting()
			{
				if ( mac_filter_status=='0' ){
					$('[name="enabled"]').bootstrapSwitch('state', false);
					$(".macTips").css("display","none");
				}else{
					$('[name="enabled"]').bootstrapSwitch('state', true);
					$(".macTips").css("display","block");
				}
					
				updateState();
			}
	    </script>
	</body>
</html>
