<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<% getIndex("no-cache"); %>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<meta id="i18n_pagename" content="index-common">
	    <meta name="keywords" content=""/>
	    <meta name="description" content=""/>
	    <meta http-equiv="Access-Control-Allow-Origin" content="*">
		<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/libs/font-awesome.css"/>	
		<link rel="stylesheet" href="css/bootstrap-switch.min.css" />
		<!--<link rel="stylesheet" type="text/css" href="css/compiled/theme_styles.css"/>-->
		<link rel="stylesheet" type="text/css" href="css/base.css"/>
		<link rel="stylesheet" href="css/main.css" />
		<link type="image/x-icon" href="img/favicon.png" rel="shortcut icon"/>
		<script type="text/javascript" src="js/util_gw.js"> </script>
		<style type="text/css">
			#eye_open_close1,#eye_open_close2{
				position: relative;
				left: -6%;
				top: 8%;
			}
			.form-group select{
				margin-left: -5px;
			}
		</style>
		<script>
		var wlan_channel=new Array();
		var regDomain=new Array();
		var defaultChan=new Array();
		var lastBand=new Array();
		var lastRegDomain=new Array();
		var RFType=new Array();
		var APMode=new Array();
		var bandIdx=new Array();
		var bandIdxAP=new Array();
		var bandIdxClient=new Array();
		var startChanIdx=new Array();
		var wlan_idx;
		
		var switch_status='<%getIndex("autoWlanEnabled");%>';
		if(switch_status){
			lastBand[1] = 0;
			lastRegDomain[1]= 0;
			bandIdxAP[1] = -1;
			bandIdxClient[1] = -1;
			startChanIdx[1] = 0;
		}else{
			lastBand[0] = 0;
			lastRegDomain[0]= 0;
			bandIdxAP[0] = -1;
			bandIdxClient[0] = -1;
			startChanIdx[0] = 0;
		}
	

		// <<-------------------------------------- for WPS
		function Data_country(country_code,abb,idx_5g,idx_2g,fullname) 
		{
		        this.country_code= country_code;
		        this.abb = abb;
		        this.idx_5g = idx_5g;
		        this.idx_2g = idx_2g;
		        this.fullname = fullname;
		}
		
		function Data_regdomain(regdomain,channelsetnumber,regdomainarea) 
		{
		        this.regdoemain = regdomain;
		        this.channelsetnumber = channelsetnumber;
		        this.regdomainarea = regdomainarea;
		}
	
		
		
		
		function Set_SSIDbyBand(form, wlan_id, band, index)
		{
			var selectText=form.elements["band"+wlan_id].options[index].text.substr(0,1);
			var bandOption = form.elements["band"+wlan_id].options.value;
				
			if(bandOption == 0 || bandOption == 1 || (bandOption == 7 && selectText=='2') || bandOption == 2 || bandOption == 9 || bandOption == 10)
			{
				var tmpstr=ssid_2g;
				if(ssid_2g.match("&quot;")!=null)
					tmpstr=ssid_2g.replace(/&quot;/g, "\"");
		
				if(ssid_2g.match("&#37;")!=null)
					tmpstr=tmpstr.replace(/&#37;/g, "%");
		
				if(ssid_2g.match("&#38;")!=null)
					tmpstr=tmpstr.replace(/&#38;/g, "&");
		
				if(ssid_2g.match("&#39;")!=null)
					tmpstr=tmpstr.replace(/&#39;/g, "'");
				
				if(ssid_2g.match("&#92;")!=null)
					tmpstr=tmpstr.replace(/&#92;/g, "\\");
		
				if(ssid_2g.match("&#62;")!=null)
					tmpstr=tmpstr.replace(/&#62;/g, ">");
		
				if(ssid_2g.match("&#60;")!=null)
					tmpstr=tmpstr.replace(/&#60;/g, "<");
				
				form.elements["ssid"+wlan_idx].value = tmpstr;
			}
			else if(bandOption == 3 || (bandOption == 7 && selectText=='5') || bandOption == 11 || bandOption == 63 || bandOption == 71 || bandOption == 75)
			{
				//form.elements["ssid"+wlan_idx].value = ssid_5g;
				var tmpstr=ssid_5g;
				if(ssid_5g.match("&quot;")!=null)
					tmpstr=ssid_5g.replace(/&quot;/g, "\"");
		
				if(ssid_2g.match("&#37;")!=null)
					tmpstr=tmpstr.replace(/&#37;/g, "%");
		
				if(ssid_2g.match("&#38;")!=null)
					tmpstr=tmpstr.replace(/&#38;/g, "&");
					
				if(ssid_5g.match("&#39;")!=null)
					tmpstr=tmpstr.replace(/&#39;/g, "'");
				
				if(ssid_5g.match("&#92;")!=null)
					tmpstr=tmpstr.replace(/&#92;/g, "\\");
		
				if(ssid_5g.match("&#62;")!=null)
					tmpstr=tmpstr.replace(/&#62;/g, ">");
		
				if(ssid_5g.match("&#60;")!=null)
					tmpstr=tmpstr.replace(/&#60;/g, "<");
				
				form.elements["ssid"+wlan_idx].value = tmpstr;
			}
		}
		function Set_onChangeBand(form, wlan_id){							
			updateChan_channebound(form, wlan_id);
		}
		
		function LoadSetting()
		 {		 	
		 		var ap_mode=0;
			    
			    
			    var backhaulIndex0 = <% getIndex("backhaulIndexQuery_0"); %>;
				var backhaulIndex1 = <% getIndex("backhaulIndexQuery_1"); %>;
			    	
				pskvalue_set();
				pskvalue_set1();
				var mode0;
				var mode1;
				<%setWlanIDX ("wlan1");%>
					mode1 = <% getVirtualIndex("encrypt", "0") %>;
				<%setWlanIDX ("wlan0");%>
					mode0 = <% getVirtualIndex("encrypt", "0") %>;
				
				if(mode0==0){					
					document.wlanSetup.method0.selectedIndex=0;					
					$(".wpa2_aes_5g").css("display","none");
				}else{
//					$(".wpa2_aes_24g").css("display","block");
					$(".wpa2_aes_5g").css("display","block");
				}
				if(mode1==0){
					document.wlanSetup.method1.selectedIndex=0;
					$(".wpa2_aes_24g").css("display","none");
				}else{
					$(".wpa2_aes_24g").css("display","block");
				}
				if (mode0 ==4){
					document.wlanSetup.method0.selectedIndex=1;					
				}
				if(mode1==4){
					document.wlanSetup.method1.selectedIndex=1;
				}
				if (mode0 ==6&& ap_mode != 1){
					document.wlanSetup.method0.selectedIndex=2;					
				}
				if(mode1==6&& ap_mode != 1){
					document.wlanSetup.method1.selectedIndex=2;
				}
				
				
			    var selectIndex_band=$("#band1 option:selected").val();
			    if(selectIndex_band==0||selectIndex_band==1||selectIndex_band==2){
    				$(".channelbound1").css("display","none");
    			}else{
    				$(".channelbound1").css("display","block");
    			}
    			
    			var selectIndex_band2=$("#band2 option:selected").val();
    			if(selectIndex_band2==3){
    				$(".channelbound2").css("display","none");
    			}else{
    				$(".channelbound2").css("display","block");
    				if(selectIndex_band2==7||selectIndex_band2==11){
    					$("#hide_option").css("display","none");
    				}else{
    					$("#hide_option").css("display","block");
    				}
    				
    			}
    			if(switch_status=='0'){
			    	$('[name="autoWlanEnabled"]').bootstrapSwitch('state', false);
			    	state_false();		
			    }else{			    	
			    	$('[name="autoWlanEnabled"]').bootstrapSwitch('state', true);
			    	state_true();	
			    }
		}
		
		function resetForm()
		{
			location=location; 
		}
		</script>
	</head>
	<body onload="LoadSetting();" style="background: #F5F5F5;">
		 		<div class="main_content">
		 			<div class="wifi_content">
			 			<div class="wifiset">
			 				<form role="form" action="/boafrm/formWlanSetupAll" method="POST" name="wlanSetup">
							
							<input type="hidden" name="dsf_enable" value="<% getIndex("dsf_enable"); %>">
							<input type="hidden" name="wlBandMode" value="<% getIndex("wlanBand2G5GSelect"); %>">
							<input type="hidden" name="wlan_support_8812e" value="<% getIndex("wlan_support_8812e"); %>">
							<input type="hidden" name="wlan_support_8192f" value="<% getIndex("wlan_support_8192f"); %>">
							<input type="hidden" name="wlan_support_ac2g" value="<% getIndex("wlan_support_ac2g"); %>">
							<input type="hidden" name="Band2G5GSupport" value="<% getIndex("Band2G5GSupport"); %>">
							<%setWlanIDX ("wlan0");%>
							<input type="hidden" name="regdomain<% getIndex("wlan_idx");%>" value="<% getIndex("regDomain"); %>" id="regdomain1">								
							<%setWlanIDX ("wlan1");%>
							<input type="hidden" name="regdomain<% getIndex("wlan_idx");%>" value="<% getIndex("regDomain"); %>" id="regdomain2">
			 				<div class="top_wifiset">
			 					<div class="intell i18n" name="24g_5g_change_title_wifi"></div>		 					
				 				<div class="switch_check">
				 					<input type="checkbox" class="checkbox_switch" data-size="mini" name="autoWlanEnabled" value=""/>
				 				</div>
						    </div>
						    <div class="wifiset_tips">
						    	<p class="i18n" name="tips_for_wifiset"></p>
						    </div>
			 				<hr />
			 				<div class="content_wifiset">
			 					<div class="leftset">	
			 							<%setWlanIDX ("wlan1");%>
			 							<div class="form-group title_24g"><span>2.4G</span></div>
			 							<div class="form-group band_select_wifiset">
			 								<label class="i18n" name="band1_select_wifiset"></label>&nbsp;&nbsp;
			 								<select id="band1" name="band1">
										     	<SCRIPT>
													RFType[1]= <% getIndex("RFType"); %>;
													APMode[1]= <% getIndex("wlanMode"); %>;
													var val = <% getIndex("band"); %>;
													if (val > 0)
										    			bandIdx[1]= val - 1;
													else
														bandIdx[1]= val;
													bandIdxAP[1]=bandIdx[1];
													bandIdxClient[1]=bandIdx[1];
													showBand(document.wlanSetup, 1);
										     	</SCRIPT>										     	
										 	</select>
										 	
			 							</div>
			 							<div class="form-group for_24g"><label class="i18n" name="ssid_wifset"></label>&nbsp;&nbsp;<input class="form_input" id="ssid_forwifi" name="ssid1"  value="<% getInfo("ssid"); %>" placeholder=""/></div>
					 					<div class="form-group channelbound_select_wifiset channelbound1">
					 					<label class="i18n" name="channelbound1_select_wifiset"></label>&nbsp;&nbsp;
					 						<select id="channelbound1" name="channelbound1" onChange="update_controlsideband(document.wlanSetup, 1); showtxrate_updated(document.wlanSetup,document.wlanSetup.band1.options[document.wlanSetup.band1.selectedIndex].value, 1, <% getIndex("rf_used"); %>)">
									     		<option value="0">20MHz</option>
												<option value="1">40MHz</option>
												<!--<option value="2">80MHz</option>
												<option value="3">20/40MHz</option>-->
												<SCRIPT>
													use_40m = '<% getIndex("ChannelBonding"); %>';
													document.wlanSetup.elements["channelbound" + 1].selectedIndex=use_40m;
												</SCRIPT>
										 	</select>
										 	
					 					</div>
					 					<div class="form-group" style="display: none;">
					 						<select id="controlsideband1" name="controlsideband1">

	 										</select>
					 					</div>
					 					<div class="form-group for_24g">
					 						<label class="i18n" name="channel_select_wifiset"></label>&nbsp;&nbsp;
					 						<select id="chan1" name="chan1" onChange="updateChan_selectedIndex(document.wlanSetup, 1);"> </select>
											    <SCRIPT>
												regDomain[1] = <% getIndex("regDomain"); %>;
												defaultChan[1] = <% getIndex("channel"); %>;
											
												wlan_channel[1] =  [1];
												updateChan(document.wlanSetup, 1);
											    </SCRIPT>	
					 						
					 					</div>
					 					<div class="form-group for_24g">
					 						<label class="i18n" name="encryption_wifiset"></label>&nbsp;&nbsp;
					 						<select name="method<% getIndex("wlan_idx"); %>" class="encryption_one" id="method1">
					 							<option value="0" class="i18n" name="disable_wifiset"></option>
					 							<option value="4">WPA2-PSK(AES)</option>
					 							<option value="6">WPA-PSK/WPA2-PSK</option>
					 						</select>	
					 						
					 					</div>
					 					<input type="hidden" name="SSID_Setting" value="0">
					 					<input name="wpaAuth<% getIndex("wlan_idx"); %>" type="hidden" value="psk">
					 					<input name="pskFormat<% getIndex("wlan_idx"); %>" type="hidden" value="0">
					 					<input type="hidden" name="wpa2ciphersuite<% getIndex("wlan_idx"); %>" value="aes">
					 					<input type="hidden" name="wlan_ssid" value="0">
					 					<input type="hidden" name="wlan_ssid_id" value="0">
					 					<input type="hidden" name="dsf_enable" value="<% getIndex("dsf_enable"); %>">
					 					<div class="form-group wpa2_aes_24g"><label class="i18n" name="encryption_key1_wifiset"></label>&nbsp;&nbsp;<input class="form_input" type="password" name="pskValue<% getIndex("wlan_idx"); %>" id="wpapsk1"/><i id="eye_open_close1" class="icon-eye-close glyphicon glyphicon-eye-close"></i></div>
					 					<script>
					 						function pskvalue_set(){
					 							document.wlanSetup.pskValue1.value="<%getVirtualInfo("pskValue", "0");%>";
					 						}
					 					</script>
					 					<!--<div class="form-group wpa_mixed_24g"><label class="i18n" name="encryption_key2_wifiset"></label><input class="form_input" type="password" name="wapiPskValue<% getIndex("wlan_idx"); %>" id="wapipsk" /></div>-->
			 					</div>
			 					<div class="rightset">
			 						<%setWlanIDX ("wlan0");%>
			 							<div class="form-group title_5g"><span>5G</span></div>
			 							<div class="form-group band_select_wifiset">
			 								<label class="i18n" name="band0_select_wifiset"></label>&nbsp;&nbsp;
			 								<select id="band2" name="band0">
										     	<SCRIPT>
													RFType[0]= <% getIndex("RFType"); %>;
													APMode[0]= <% getIndex("wlanMode"); %>;
													var val = <% getIndex("band"); %>;
													if (val > 0)
										    			bandIdx[0]= val - 1;
													else
														bandIdx[0]= val;
													bandIdxAP[0]=bandIdx[0];
													bandIdxClient[0]=bandIdx[0];
													showBand(document.wlanSetup, 0);
										     	</SCRIPT>
										 	</select>
										 	
			 							</div>
			 							<div class="form-group for_5g"><label class="i18n" name="ssid_5g_wifset"></label>&nbsp;&nbsp;<input class="form_input" type="text" id="ssid_forwifi1" name="ssid0"  value="<% getInfo("ssid"); %>" placeholder=""/></div>
					 					<div class="form-group channelbound_select_wifiset channelbound2">
					 						<label class="i18n" name="channelbound0_select_wifiset"></label>&nbsp;&nbsp;
					 						<select id="channelbound2" name="channelbound0" onChange="update_controlsideband(document.wlanSetup, 0); showtxrate_updated(document.wlanSetup,document.wlanSetup.band0.options[document.wlanSetup.band0.selectedIndex].value, 0, <% getIndex("rf_used"); %>)">
									     		<option value="0">20MHz</option>
												<option value="1">40MHz</option>
												<option value="2" id="hide_option" style="display: none;">80MHz</option>
												<!--<option value="3">20/40MHz</option>-->
												<SCRIPT>
													use_40m =<% getIndex("ChannelBonding"); %>;
													document.wlanSetup.elements["channelbound" + 0].selectedIndex=use_40m;
												</SCRIPT>
										 	</select>
										 	
					 					</div>
					 					<div class="form-group" style="display: none;">
					 						<select id="controlsideband2" name="controlsideband0">

	 										</select>
					 					</div>
					 					<div class="form-group chenal_select for_5g">
					 						<label class="i18n" name="channel_5g_select_wifiset"></label>&nbsp;&nbsp;
					 						<select id="chan2" name="chan0" onChange="updateChan_selectedIndex(document.wlanSetup, 0);"> </select>
											    <SCRIPT>
												regDomain[0] = <% getIndex("regDomain"); %>;
												defaultChan[0] = <% getIndex("channel"); %>;
											
												wlan_channel[0] = defaultChan[0];
												updateChan(document.wlanSetup, 0);
											    </SCRIPT>		
					 						
					 					</div>
					 					<div class="form-group for_5g">
					 						<label class="i18n" name="encryption_5g_wifiset"></label>&nbsp;&nbsp;
					 						<select name="method<% getIndex("wlan_idx"); %>" class="encryption_two" id="method2">
					 							<option value="0" class="i18n" name="disable_wifiset"></option>
					 							<option value="4">WPA2-PSK(AES)</option>
					 							<option value="6">WPA-PSK/WPA2-PSK</option>					 			
					 						</select>	
					 						
					 					</div>
					 					<input type="hidden" name="SSID_Setting" value="0">
					 					<input name="wpaAuth<% getIndex("wlan_idx"); %>" type="hidden" value="psk">
					 					<input name="pskFormat<% getIndex("wlan_idx"); %>" type="hidden" value="0">
					 					<input type="hidden" name="wpa2ciphersuite<% getIndex("wlan_idx"); %>" value="aes">
					 					<input type="hidden" name="wlan_ssid" value="0">
					 					<input type="hidden" name="wlan_ssid_id" value="0">
					 					<input type="hidden" name="dsf_enable" value="<% getIndex("dsf_enable"); %>">
					 					<div class="form-group wpa2_aes_5g"><label class="i18n" name="encryption_5g_key1_wifiset"></label>&nbsp;&nbsp;<input class="form_input" type="password" name="pskValue<% getIndex("wlan_idx"); %>" id="wpapsk2"/><i id="eye_open_close2" class="icon-eye-close glyphicon glyphicon-eye-close"></i></div>
					 					<script>
					 						function pskvalue_set1(){
					 							document.wlanSetup.pskValue0.value="<%getVirtualInfo("pskValue", "0");%>";
					 						}
					 					</script>					 						
					 					<!--<div class="form-group wpa_mixed_5g"><label class="i18n" name="encryption_5g_key2_wifiset"></label><input class="form_input" type="password" name="wapiPskValue<% getIndex("wlan_idx"); %>"/></div>-->
			 					</div>			 					
			 				</div>
			 				<div class="form-group form-group-btn">
			 					<% getInfo("apply_direct_comment_start");%>
			 					<button type="submit" value="1" class="i18n" name="save_apply" onClick="return saveChanges_basic(document.wlanSetup, wlan_idx)"></button>
			 					<% getInfo("apply_direct_comment_end");%>
			 					<input type="hidden" value="/wifiset.html" name="wlan-url">
			 				</div>
			 			</form>
			 			</div>
		 			</div>
		 		</div>
		
		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/bootstrap-switch.min.js"></script>
		<!--<script src="js/jquery-1.9.1.min.js"></script>-->
	    <script src="js/jquery.cookie.js"></script>
	    <!-- 加载语言包文件 -->
	    <script src="js/jquery.i18n.properties.js"></script>
	    <script src="js/language.js"></script>
		<script type="text/javascript">
			var globle_status;
    	$(document).ready(function(){
        	$('.checkbox_switch').bootstrapSwitch({  //开关按钮
		        onText:"",  
		        offText:"",  
		        onColor:"success",  
		        offColor:"info",  
		        size : "mini",    // 设置控件大小,从小到大  (mini/small/normal/large)  
		        onSwitchChange:function(event,state){  
		            if(state==true){  
		               state_true();
		                if(document.wlanSetup.method1.selectedIndex==0){		                			                	
		                	$(".wpa2_aes_24g").css("display","none");
		                }else{		                	
		               		$(".wpa2_aes_5g").css("display","block");
		                }
		                if(document.wlanSetup.method0.selectedIndex==0){
		                	$(".wpa2_aes_5g").css("display","none");
		                }else{
		                	$(".wpa2_aes_5g").css("display","block");
		                }
												
						var ssid_forwifi1_value=$("#ssid_forwifi1").val();
						$("#ssid_forwifi").val(ssid_forwifi1_value);
						
						var method2_value=$("#method2 option:selected").val();
						$("#method1 option:selected").val(method2_value);
						
						var wpapsk2_value=$("#wpapsk2").val();
						$("#wpapsk1").val(wpapsk2_value); 
						$(".checkbox_switch").val(1);
						globle_status=document.wlanSetup.autoWlanEnabled.checked;
		            }else{  		                
		               state_false(); 
		               if(document.wlanSetup.method0.selectedIndex==0){		                			                	
		                	$(".wpa2_aes_5g").css("display","none");
		               }else{		                	
		               		$(".wpa2_aes_5g").css("display","block");
		                }
		                if(document.wlanSetup.method1.selectedIndex==0){
		                	$(".wpa2_aes_24g").css("display","none");
		                }else{
		                	$(".wpa2_aes_24g").css("display","block");
		                }
		                $(".checkbox_switch").val(0);
		                globle_status=document.wlanSetup.autoWlanEnabled.checked;
		           }  
		      	}  
			})
			$("#ssid_forwifi1").change(function(){
				if(globle_status){
					var ssid_forwifi1_value=$("#ssid_forwifi1").val();
						$("#ssid_forwifi").val(ssid_forwifi1_value);
								
						var method2_value=$("#method2 option:selected").val();
						$("#method1 option:selected").val(method2_value);
								
						var wpapsk2_value=$("#wpapsk2").val();
						$("#wpapsk1").val(wpapsk2_value);
				}
			})
			
        	$(".encryption_one").change(function(){
        		
					var changevalue=$(this).val();
					if(changevalue==0){
						$(".wpa2_aes_24g").css("display","none");
					}else{
						$(".wpa2_aes_24g").css("display","block");
					}
					chang_value_status();
				})
        	$(".encryption_two").change(function(){
					var changevalue=$(this).val()
					if(changevalue==0){
						$(".wpa2_aes_5g").css("display","none");
					}else{
						$(".wpa2_aes_5g").css("display","block");
					}
					chang_value_status();
				})
	    	})
    	
    		$("#band1").change(function(){
    			var selectIndex_band=$("#band1 option:selected").val();
    			if(selectIndex_band==0||selectIndex_band==1||selectIndex_band==2){
    				$(".channelbound1").css("display","none");
    			}else{
    				$(".channelbound1").css("display","block");
    			}
    		});
    		$("#band2").change(function(){
    			var selectIndex_band=$("#band2 option:selected").val();
    			if(selectIndex_band==3){
    				$(".channelbound2").css("display","none");
    			}else{
    				$(".channelbound2").css("display","block");
    				if(selectIndex_band==7||selectIndex_band==11){
    					$("#hide_option").css("display","none");
    				}else{
    					$("#hide_option").css("display","block");
    				}
    				
    			}
    		})
    		$("#eye_open_close1").click(function(){
					if($(this).hasClass("glyphicon-eye-open")){
						$(this).removeClass("glyphicon-eye-open");
						$(this).removeClass("icon-eye-open");
						$(this).addClass("icon-eye-close");
						$(this).addClass("glyphicon-eye-close");
						$("#wpapsk1").attr("type","password");
					}else{
						$(this).removeClass("glyphicon-eye-close");
						$(this).removeClass("icon-eye-close");
						$(this).addClass("icon-eye-open");
						$(this).addClass("glyphicon-eye-open");
						$("#wpapsk1").attr("type","text");
					}					
				})
    		$("#eye_open_close2").click(function(){
					if($(this).hasClass("glyphicon-eye-open")){
						$(this).removeClass("glyphicon-eye-open");
						$(this).removeClass("icon-eye-open");
						$(this).addClass("icon-eye-close");
						$(this).addClass("glyphicon-eye-close");
						$("#wpapsk2").attr("type","password");
					}else{
						$(this).removeClass("glyphicon-eye-close");
						$(this).removeClass("icon-eye-close");
						$(this).addClass("icon-eye-open");
						$(this).addClass("glyphicon-eye-open");
						$("#wpapsk2").attr("type","text");
					}					
				})
    		
    		function state_true(){//state为true时页面的状态
				$(".title_24g,.title_5g,.for_24g,.chenal_select,.wpa2_aes_24g,.band_select_wifiset,.channelbound_select_wifiset").css("display","none");  
				$(".for_5g").css("display","block");
				$(".chenal_select").css("display","none");
		        $(".wifiset_tips").css("display","block");		                
		        $(".rightset").css("float","none");
		        $(".rightset").css("margin-left","auto");
		        $(".rightset").css("margin-right","auto");
			}
			function state_false(){//state为false时页面的状态
				$(".title_24g,.title_5g,.for_24g,.for_5g,.chenal_select,.band_select_wifiset,.channelbound_select_wifiset").css("display","block");  
		        $(".wifiset_tips").css("display","none"); 
		        $(".rightset").css("float","left");
		        $(".rightset").css("margin-left","none");
		        $(".rightset").css("margin-right","none");
			}
			function chang_value_status(){
				if(globle_status){
					$("#ssid_forwifi1").change(function(){
		    			var ssid_forwifi1_value=$("#ssid_forwifi1").val();
						$("#ssid_forwifi").val(ssid_forwifi1_value);
								
						var method2_value=$("#method2 option:selected").val();
						$("#method1 option:selected").val(method2_value);
								
						var wpapsk2_value=$("#wpapsk2").val();
						$("#wpapsk1").val(wpapsk2_value); 
		    		})
					var index1=document.getElementById("method1").selectedIndex;
					var index2=document.getElementById("method2").selectedIndex; 
					document.getElementById("method1").options[index1].value=document.getElementById("method2").options[index2].value;
					var ssid_forwifi1_value = document.getElementById("ssid_forwifi1").value;
					document.getElementById("ssid_forwifi").value = ssid_forwifi1_value;
					var wpapsk2_value=document.getElementById("wpapsk2").value;
					document.getElementById("wpapsk1").value = wpapsk2_value; 
				};
			}
			
    	</script>
    	
	</body>
</html>
