
body { 
	margin:0; 
	font: 14px Helvetica Neue, Helvetica, PingFang SC, 微软雅黑, Tahoma, Arial, sans-serif; 
	color:#4d4d4d}
p,h1,h2,h3,h4,h5,h6,ul,li,dd,dt,dl { margin:0; padding:0; list-style:none}
.fl { float:left}
.fr { float:right}
.db { display:block}
.oh { overflow:hidden}
a { text-decoration:none;color: #000;outline: none;}
a:link,a:visited,a:hover,a:active{ color:#000;text-decoration: none;outline: none;}
input, select { vertical-align: middle;}
.m_t10 { margin-top:10px;}
.m_t15 { margin-top:15px;}
.m_t20 { margin-top:20px;}
.m_t50 { margin-top:50px;}
.m_l5 { margin-left:5px;}
.m_l15 { margin-left:15px;}
.m_l30 { margin-left:30px;}
em,i { font-style:normal;}
.f_gray { color:#999}
.f_red { color:#D8524E}
.f_green { color:#5BB85B}
.tr { text-align:right}
.pr { position:relative;}

select option { color: #000; height:30px;} 














































