<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<meta id="i18n_pagename" content="index-common">
	    <meta name="keywords" content=""/>
	    <meta name="description" content=""/>
	    <meta http-equiv="Access-Control-Allow-Origin" content="*">
		<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/libs/font-awesome.css"/>	
		<link href="css/bootstrap-switch.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="css/base.css"/>
		<link rel="stylesheet" href="css/main.css" />
		<link type="image/x-icon" href="img/favicon.png" rel="shortcut icon"/>
		<style type="text/css">
			#eye_open_close1,#eye_open_close2{
				left: -4%;
			}
		</style>
		<SCRIPT>
		 var i18nLanguage=getCookie('userLanguage');
		function getCookie(name) {
		  var cookies = document.cookie;
		  var list = cookies.split("; ");          // 解析出名/值对列表
		      
		  for(var i = 0; i < list.length; i++) {
		    var arr = list[i].split("=");          // 解析出名和值
		    if(arr[0] == name)
		      return decodeURIComponent(arr[1]);   // 对cookie值解码
		  } 
		  return "";
		}
		
		var password_user_empty,password_passwd_unmatched,password_passwd_empty,password_user_invalid,password_passwd_invalid;
		if(i18nLanguage=='en'){
			password_user_empty = 'User account is empty.\nDo you want to disable the password protection?';
			password_passwd_unmatched = 'Password does not match. Please re-type the password in the \'new\' and \'confirmed\' boxes.';
			password_passwd_empty = 'Password cannot be empty. Please try again.';
			password_user_invalid = 'Cannot accept space character in user name. Please try again.';
			password_passwd_invalid = 'Cannot accept space character in password. Please try again.';
		}else{
			password_user_empty = '用户帐号为空';
			password_passwd_unmatched = '密码不匹配,请在新密码栏和确认密码栏中重新输入相同的密码';
			password_passwd_empty = '密码不能为空,请重新输入.';
			password_user_invalid = '用户名不接受空格符,请重新输入.';
			password_passwd_invalid = '密码不接受空格符,请重新输入.';
		}
		
		function includeSpace(str)
		{
		  for (var i=0; i<str.length; i++) {
		  	if ( str.charAt(i) == ' ' ) {
			  return true;
			}
		  }
		  return false;
		}
		
		function saveChanges()
		{
		   if ( document.password.userName.value.length == 0 ) {
			if ( !confirm(password_user_empty) ) {
				document.password.userName.focus();
				return false;
		  	}
			else
				return true;
		  }
		
		   if ( document.password.newPass.value != document.password.confPass.value) {
			alert(password_passwd_unmatched);
			document.password.newPass.focus();
			return false;
		  }
		
		  if ( document.password.userName.value.length > 0 &&
		  		document.password.newPass.value.length == 0 ) {
			alert(password_passwd_empty);
			document.password.newPass.focus();
			return false;
		  }
		
		  if ( includeSpace(document.password.userName.value)) {
			alert(password_user_invalid);
			document.password.userName.focus();
			return false;
		  }
		
		  if ( includeSpace(document.password.newPass.value)) {
			alert(password_passwd_invalid);
			document.password.newPass.focus();
			return false;
		  }
		
		  return true;
		}
		
		</SCRIPT>
	</head>
	<body>
		<div class="guest_net">
			<form action="/boafrm/formPasswordSetup" method="POST" name="password">
				<div class="form-group"><label class="i18n pass" name="old_psd"></label><input class="form_input" type="text" name="userName" /></div>
				<div class="form-group"><label class="i18n pass" name="new_psd"></label><input class="form_input" type="password" name="newPass" id="newPass"/><i id="eye_open_close1" class="icon-eye-close glyphicon glyphicon-eye-close"></i></div>
				<div class="form-group"><label class="i18n pass" name="confirm_psd"></label><input class="form_input" type="password" name="confPass" id="confPass"/><i id="eye_open_close2" class="icon-eye-close glyphicon glyphicon-eye-close"></i></div>
				<div class="form-group form-group-btn">
			 		<% getInfo("apply_direct_comment_start");%>
			 		<button type="submit" value="Save & Apply" class="i18n" name="save_apply" onClick="return saveChanges()"></button>
			 		<% getInfo("apply_direct_comment_end");%>
			 	</div>
			</form>
		</div>
		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/bootstrap-switch.min.js"></script>
		<script src="js/jquery.cookie.js"></script>
	    <!-- 加载语言包文件 -->
	    <script src="js/jquery.i18n.properties.js"></script>
	    <script src="js/language.js"></script>
		<script>
			$(document).ready(function(){
				$("#eye_open_close1").click(function(){
					if($(this).hasClass("glyphicon-eye-open")){
						$(this).removeClass("glyphicon-eye-open");
						$(this).removeClass("icon-eye-open");
						$(this).addClass("icon-eye-close");
						$(this).addClass("glyphicon-eye-close");
						$("#newPass").attr("type","password");
					}else{
						$(this).removeClass("glyphicon-eye-close");
						$(this).removeClass("icon-eye-close");
						$(this).addClass("icon-eye-open");
						$(this).addClass("glyphicon-eye-open");
						$("#newPass").attr("type","text");
					}					
				})
    		$("#eye_open_close2").click(function(){
					if($(this).hasClass("glyphicon-eye-open")){
						$(this).removeClass("glyphicon-eye-open");
						$(this).removeClass("icon-eye-open");
						$(this).addClass("icon-eye-close");
						$(this).addClass("glyphicon-eye-close");
						$("#confPass").attr("type","password");
					}else{
						$(this).removeClass("glyphicon-eye-close");
						$(this).removeClass("icon-eye-close");
						$(this).addClass("icon-eye-open");
						$(this).addClass("glyphicon-eye-open");
						$("#confPass").attr("type","text");
					}					
				})
			})
		</script>
	</body>
</html>
